.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    gap: 42px;
}

.card-link {
    cursor: pointer;
    width: fit-content;
    color: #070707;
    text-align: center;
    font-family: 'Gilroy-Medium';
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-skip-ink: none;
    text-decoration-thickness: auto;
    text-underline-offset: auto;
    text-underline-position: from-font;
}

.card-link:hover {
    color: #070707;
}